In [ ]:
# 1. find the sum of n positive numbers
n = int(input("enter the number :"))
total = sum(range(1, n + 1))
print(total)

enter the number :10
55

In [ ]:
# 2. count occurrences of a substring in a string.
string = input("enter the string :")
substring = input("enter the substring :")
count = string.count(substring)
print(count)

enter the string :banana
enter the substring :na
2

In [ ]:
# 3. the occurrences of each word in a given sentence.
word= input("enter the word :")
sentence = input("enter the sentence :")
count = sentence.count(word)
print(count)

enter the word :very
enter the sentence :she is very smart
1

In [ ]:
# 4. get a single string from two given strings, separated by a space and swap the first two characters of each string.
str1 = input("enter the string :")
str2 = input("enter the string :")

new1 = str2[:2] + str1[2:]
new2 = str1[:2] + str2[2:]

print(new1 + " " + new2)

enter the string :yatri
enter the string :dave
datri yave

In [ ]:
# 5. add 'ing' at the end of a given string (length should be atleast 3).
# If the given string already ends with 'ing' then add 'ly' instead.
# If the string length of the given string is less than 3, leave it unchanged

WORDS = input("enter the word :")
if word.endswith('ing'):
  print(WORDS + 'ly')
elif len(WORDS)>3:
  print(WORDS + 'ing')
elif len(WORDS)<=3:
 print(WORDS)

enter the word :flys
flysing

In [ ]:
# 6. find the first appearance of the substring 'not' and'poor' from a given string,
#if 'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'. Return the resulting string

sentence = input("enter the sentence :")

not_index = sentence.find('not')
poor_index = sentence.find('poor')
if not_index != -1 and poor_index != -1 and not_index < poor_index:
    print(sentence[:not_index] + 'good' + sentence[poor_index + 4:])

enter the sentence :she is not that poor in english
she is good in english

In [ ]:
# 7. find Greatest Common Divisor of two numbers.
import math
def GCD(a,b):
  return math.gcd(a,b)

In [ ]:
GCD(98,56)

14

In [ ]:
# 8. check whether a list contains a sublist.
def check_sublist(lst):
    for item in lst:
        if isinstance(item, list):
            return True
    return False

In [ ]:
check_sublist([1,2,[3,4]])

True

In [ ]:
# 9. find the second smallest number in a list
second_smallest=[12,9,4,6]
second_smallest.sort()
print(second_smallest[1])

6

In [ ]:
# 10. get unique values from a list
def unique_values(list_of_name):
    return list(set(list_of_name))

In [ ]:
unique_values(['riya','divya','riya'])

['divya', 'riya']

In [ ]:
# 11. unzip a list of tuples into individual lists
data = [(1,'a'), (2,'b'), (3,'c'), (4,'d')]

list1 = []
list2 = []
for x, y in data:
    list1.append(x)
    list2.append(y)

print(list1)
print(list2)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

In [ ]:
# 12. convert a list of tuples into a dictionary
names = [(1,'yatri'),(2,'divya'),(3,'riya'),(4,'jagruti')]
name_dict= dict(names)
print(name_dict)

{1: 'yatri', 2: 'divya', 3: 'riya', 4: 'jagruti'}

In [ ]:
# 13. sort a dictionary (ascending /descending) by value.
#sorted(name_dict)
marks = {1: 90,2:87,3:92}
sorted(marks)

[1, 2, 3]

In [ ]:
# 14. find the highest 3 values in a dictionary
marks = {1: 90,2:87,3:92,4:85,5:99}
sorted(marks.values(),reverse=True)[:3]

[99, 92, 90]

In [ ]:
# 15. Given a number n, write a python program to make and print the list of Fibonacci series up to n.
fib_list = []
a, b = 0, 1
n=int(input("enter the number :"))
for i in range(n):
        fib_list.append(a)
        a, b = b, a + b
print (fib_list)

enter the number :8
[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
# 16.Counting the frequencies in a list using a dictionary in Python.
def count_frequencies(input_list):
  frequency_dict = {}
  for item in input_list:
    if item in frequency_dict:
      frequency_dict[item] += 1
    else:
      frequency_dict[item] = 1
  return frequency_dict

In [ ]:
my_list = [1, 2, 2, 3, 1, 4, 2, 3, 3, 3]
frequencies = count_frequencies(my_list)
print(frequencies)

{1: 2, 2: 3, 3: 4, 4: 1}

In [ ]:
# 17. using function to find the sum of odd series and even series
#Odd series: 12/ 1! +32/ 3! + 52/ 5!+……n
#Even series: 22/ 2! + 42/ 4! + 62/ 6!+……n
import math as math
def sum_of_series(n):
  odd_sum = 0
  even_sum = 0
  for i in range(1, n+1):
    if i % 2 == 1:
      odd_sum += i**2 / math.factorial(i)
    else:
      even_sum += i**2 / math.factorial(i)

In [ ]:
sum_of_series(5)

In [ ]:
# 18. Find Factorial of Number Using Recursion
def factorial(n):
  if n==0:
    return 1
  elif n==1:
    return 1
  else:
    return n*factorial(n-1)

In [ ]:
factorial(5)

120

In [ ]:
# 19.function that takes a list and returns a new list with unique elements of the first list
def unique_elements(list_of_name):
    return list(set(list_of_name))

In [ ]:
unique_elements(['cat','dog','cat'])

['dog', 'cat']

In [2]:
#20.Mini project :
#Problem Statement : Password Generator
#Make a program to generate a strong password using the input given by theuser.
#To generate a password, randomly take some words from the user input andtheninclude numbers, special characters and capital letters to generate the password.
#Also, keep a check that password length is more than 8 characters.
#Note: Include Exception handling wherever required. Also, make a ‘User’ classand store the details like user id, name and password of each user as a tuple

import random
user_input = input("your password: ")
words = user_input.split()
if len(words) >= 2:
    chosen = random.sample(words, 2)
else:
    chosen = words
new_words = [word.capitalize() for word in chosen]
base = ""
for word in new_words:
    base = base + word
numbers = str(random.randint(10, 99))
symbols = random.choice(['@', '#', '$', '%'])
password = base + numbers + symbols
while len(password) < 8:
    password += random.choice('abcxyz123')
print("your storng password: ", password)

your password: yatu
your storng password:  Yatu10#3